.maincontent{
  display: flex;
  grid-template-columns: 310px 1fr;
  background-color: #fff8dc69;
  height: 100vh;
}

.content{
  width: 60%;
  height: auto;
  border-left: ridge;
  border-right-style: ridge;
  background-color:  #fbfbfbc2;
}